    
   body {
    background-color: #FAFAFA;
} 

.titulo h1{
    text-align: center;
    color: blue;
}

.contenedor{
    margin-top: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.padre{
width:100px;
height:100px;
background-color:white;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    border-radius: 50px;
}

.padre:hover{
  background-color: #4285F4;
    color:saddlebrown;
    font-weight: bold;
}



